<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>
	<connectionStrings>
		<add name="connection_string" connectionString="Data Source=DESKTOP-6I5B5HJ;Initial Catalog=lab2-coffee-Shop-F;Integrated Security=true;"/>
	</connectionStrings>
	<!--<appSettings>
   	    <add key="parent_table" value="Shops"/>
	    <add key="parent_table_pk" value="shop_id"/>
	    <add key="child_table" value="CofeeTables"/>
	    <add key="child_table_fk" value="shop_id"/>
	    <add key ="parentQuery" value="Select * From Shops"/>
	    <add key="childQuery" value="Select * From CoffeeTables"/>
 	</appSettings>-->
	
	<appSettings>
		 <add key="parent_table" value="Owners"/>
		 <add key="parent_table_pk" value="owner_id"/>
    	 <add key="child_table" value="Shops"/>
	     <add key="child_table_fk" value="owner_id"/>
		 <add key ="parentQuery" value="Select * From Owners"/>
	     <add key="childQuery" value="Select * From Shops"/>
  </appSettings> 

</configuration>